html {
    margin: 0 auto;
}
body {
    background-color: rgb(200,200,200);
    font-family: adobe-garamond-pro, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #444444;
    margin: 0 auto;
}

.logo{
    font-size: 5.0rem;
    font-weight: 400;
}

header {
    margin: 0 auto;
    padding:50px;
    height: 250px;
    background-color: rgba(20,20,20,0.6);
    color: rgb(223,223,233);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

main{
    width: 80%;
    margin: 0 auto;
}

#activity-wrapper{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#activity-splash{
    color: rgba(223,223,223);
    background: rgba(20,20,20,0.8);
    margin: 0 auto;
    width: 80%;
    z-index:100;
    position: absolute;
    left: 10%;
    top:20%;
    padding: 30px;
}
#login-splash{
    color: rgba(223,223,223);
    background: rgba(20,20,20,0.8);
    margin: 0 auto;
    width: 40%;
    z-index:100;
    position: absolute;
  
    top:20%;
    padding: 30px;
}


.activity-card{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 30%;
    background: pink;
    margin: 25px;
}




form div {
   padding-top: 20px;
   padding-bottom: 20px;
}

input,textarea,select,option, #form-cancel-button {
 width:95%;
 background: rgba(0, 0, 0, 0.6);
 color: rgb(223,223,233);
 font-family: adobe-garamond-pro, serif;
 font-size: 20px;
 font-style: normal;
 font-weight: 400;
}


label { 
    font-size: 1.3rem;
    display: block;
}

